%section#get_involved
  .container
    .text-center
      %h2.section-heading.marginless Get involved & volunteer
      %h3.section-subheading.text-muted Coach or help us organise the event
    .row
      .col-xs-12.col-md-4
        %h4 Coach
        Help a group of 3-4 participants to go through the guide
      .col-xs-12.col-md-4
        %h4 Help to organize the event
        RubyBelgium is a gathering of super cool generous people, you won’t be disapointed!
      .col-xs-12.col-md-4
        %h4 Improve the guide
        You can always have a look at our guide repository and help us improve it!
        = link_to 'View the issues', 'https://github.com/brug-be/railsgirls_guide/issues', rel: 'nofollow'
  .container.spaced
    .text-center
      %h2.section-heading Our awesome coaches
      .row
        - data.coaches.each do |coach|
          .col-xs-6.col-md-3.portfolio-item
            = link_to "https://twitter.com/#{coach.twitter}", class: 'portfolio-link', rel: 'nofollow' do
              .text-center
                %b= coach.name
                .black
                  @#{coach.twitter}

    .text-center.spaced
      %h3 If you have any questions, or want to keep learning
      %a.spaced.btn.btn-primary.btn-lg{href: "https://rubyburgers.herokuapp.com/"} Join our chat
      %a.page-scroll.btn.btn-default.btn-lg{href: "http://rubybelgium.us13.list-manage.com/subscribe?u=00b69faa8e0eba3887ce7f914&id=cd165f97aa"}
        Subscribe to the beginner newsletter
