%section.bg-light-gray
  .container
    .text-center
      %h2.section-heading Our Coaches
      .row
        - data.coaches.each do |coach|
          .col-xs-6.col-md-3.portfolio-item
            = link_to "https://twitter.com/#{coach.twitter}", class: 'portfolio-link', rel: 'nofollow' do
              .text-center
                %b= coach.name
                .black
                  @#{coach.twitter}


  .social-links
    = link_to 'Follow @RailsGirls_BE', 'https://twitter.com/RailsGirls_BE', class: 'twitter-follow-button', data: {'data-show-count': 'false', 'data-size': 'large'}

    .fb-like{ data: { href: "https://www.facebook.com/RailsGirlsBrussels", 'data-width': '200', 'data-layout': 'button_count', 'data-action': 'like', 'data-show-faces': 'true', 'data-share': 'false'}}
