---
title: Belgian companies list that uses Ruby - Ruby Belgium
---
- csv = ruby_shops.group_by {|i| i[:city] }

%header.header
  .layer
    .container.text-center
      %h1 List of Benelux companies that do ruby.
      %h3
        - csv.each_with_index do |group, index|
          - group_name = group[0]
          - unless index == 0
            = ' - '
          %a.white{href: "##{group_name.underscore}"}
            = group_name

%section.bg-light-gray
  .container
    - csv.each do |group|
      - group_name = group[0]
      .row{id: group_name.underscore}
        .col-lg-12
          %h2.page-header.text-center
            = group_name
      - group[1].each_slice(3) do |row|
        .row
          - row.each do |entry|
            .col-md-4.col-sm-6
              = link_to entry[:website], class: 'rubyshop well' do
                %h4= entry[:company]
                %p.text-muted= entry[:category]
