!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %link{href: "http://rubybelgium.be/", rel: "canonical"}/
    %link{href: "http://rubybelgium.be/", rel: "profile"}/
    %meta{content: "https://github.com/brug-be/rubybelgium", property: "os:repo"}/
    %meta{content: "git", property: "os:rcs_type"}/
    %meta{content: "git@github.com:brug-be/rubybelgium.git", property: "os:src"}/

    %title= current_page.data.title || "Ruby Belgium"
    %meta{name: "description", content: current_page.data.description || "The belgian community group promoting ruby usage and ruby jobs market"}/
    = favicon_tag 'logomark.png'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:300,400'
    = stylesheet_link_tag "all"

    = javascript_include_tag  "all", defer: true
    = yield_content( :head_scripts )

    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


  %body.animated.fadeIn{class: page_classes}
    = partial :navigation
    = yield
    = partial :contact
    = partial :footer
