%section#members.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading.marginless The Board Members
        %h3.section-subheading.text-muted The people that are running the association.
    .row
      - data.members.each do |member|
        .col-sm-4
          .team-member
            = image_tag member.image, class: "img-responsive img-circle", alt: member.name
            %h4= member.name
            %p.text-muted= member.description
            %ul.list-inline.social-buttons
              - if member.twitter
                %li
                  %a{:href => "https://twitter.com/#{member.twitter}"}
                    %i.fa.fa-twitter
              - if member.facebook
                %li
                  %a{:href => "https://www.facebook.com/#{member.facebook}"}
                    %i.fa.fa-facebook
              - if member.linkedin
                %li
                  %a{:href => "https://www.linkedin.com/in/#{member.linkedin}"}
                    %i.fa.fa-linkedin
