---
title: About the association - Ruby Belgium
---

%header.header
  .layer
    .container.text-center
      %h1.animated.fadeInUp The Ruby Belgium A.S.B.L.
      %h3.header__subtitle
        We gather all ruby related activities, jobs & more
      = link_to 'Want to help? Get on board!', 'mailto:toch@rubybelgium.be', class: 'btn btn-primary btn-lg', rel: 'nofollow'

%section.section--alternate
  .container.text-center
    %h2.section-heading A transparent organisation
    .hello
      %p As a community, we would like to be as open as we can, allowing anybody to see what and how we're doing.
      %ul.list-reset
        %li= link_to 'Our global planning board (trello)', 'https://trello.com/b/7xyOJq7t/ruby-belgium', rel: 'nofollow', target: '_blank'
        %li= link_to 'Our communication personnas', 'https://trello.com/b/qi5tLdss/rubybelgium-personnas', rel: 'nofollow', target: '_blank'

%section
  .container.text-center
    %h2.section-heading History
    .hello
      %p The Ruby community existed before the association. We had several
      events such as Rails Girls Brussels, BRUG, or the Ruby Burgers. In
      November 2014, Christophe, Hannes, Joren, Oana, and Yannick agreed that
      all those events need a better framework, especially to manage the money.
      After discussions, they founded Ruby Belgium, that was officially created
      the 18th May 2015.
      %p The first board was composed by the founders: Christophe Philemotte,
      Hannes Fostie, Joren de Groof, Oana Sipos, and Yannick Schutz.

%section
  .container.text-center
    %h2.section-heading We love open-source
    .hello
      %p All the code used for the organisation projects is open and thus freely accessible. Have a look:
      %ul.list-reset
        %li= link_to 'The organisation repository', 'https://github.com/brug-be', rel: 'nofollow', target: '_blank'
        %li= link_to 'This webiste source code', 'https://github.com/brug-be/rubybelgium', rel: 'nofollow', target: '_blank'
        %li= link_to 'Our job board', 'https://github.com/brug-be/jobboard', rel: 'nofollow', target: '_blank'
        %li= link_to 'The code of conduct', 'https://github.com/brug-be/code_of_conduct', rel: 'nofollow', target: '_blank'
        %li= link_to 'Our articles of association', 'https://github.com/brug-be/articles_of_association', rel: 'nofollow', target: '_blank'
        %li= link_to 'The jobboard', 'https://github.com/brug-be/jobboard', rel: 'nofollow', target: '_blank'
        %li= link_to 'Our officials documents', 'https://github.com/brug-be/rubybelgium-documents', rel: 'nofollow', target: '_blank'
= partial 'about/board'
