---
title: Welcome To Ruby Belgium
---

= partial :header
= partial :about
= partial :projects
= partial :events
= partial :members
= partial :contact
= partial :footer
= google_analytics_universal_tag
