---
title: Ruby Belgium - A community about the ruby language, ruby jobs and burgers!
description: Ruby Belgium helps people learn ruby, find ruby jobs market and have fun
---

= partial :header
= partial :about
= partial :projects
= partial :events
= partial :board
= partial :contact
= partial :footer
