---
title: Rails Girls Brussels - Ruby Belgium
---

%header.header
  .layer
    .container.text-center
      %h1.animated.fadeInUp Rails Girls Brussels
      %h3.header__subtitle
        %p The basics of programming, for girls, in a day!

= partial 'rails-girls/overview'
= partial 'rails-girls/images'
= partial 'rails-girls/coaches'

%section
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Organizer
        = image_tag 'silvana.jpg', class: "img-responsive img-circle center-block", alt: 'Silvana Precup'
        %h3.section-subheading.text-muted Silvana Precup
        %ul.list-inline.social-buttons
          %li
            = link_to "https://twitter.com/silvanaprecup" do
              %i.fa.fa-twitter
